[access]
	inheritFrom = All-Projects
[project]
	description = A full set of documentation of how to run the validation, the technology stack and also the validation process\n\nRead-only as per IT-26907
	state = read only
[access "refs/*"]
	owner = group saml/onap-gerrit-vvp-documentation-committers
	read = deny group GitHub Replication
[plugin "its-jira"]
	enabled = true
